* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a, a:active, a:focus, a:hover {
    color: initial;
}

ul {
    list-style-type: none !important;
}

body {
    overflow-x: hidden;
    padding: 0%;
}

/* color variable root */

:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0fa3e0;
    --secondary: #d0d4d9;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f7f8f9;
    --white: #fff;
    --dark: #19191c;
    --black: #000000;
}

.color-white {
    color: var(--white) !important;
}

.color-pink {
    color: var(--pink) !important;
}

.color-red {
    color: var(--red) !important;
}

.color-danger {
    color: var(--danger) !important;
}

.color-warning {
    color: var(--warning) !important;
}

.color-green {
    color: var(--green) !important;
}

.color-l-green {
    color: var(--teal) !important;
}

.color-success {
    color: var(--success) !important;
}

.color-blue {
    color: var(--blue) !important;
}

.color-primary {
    color: var(--primary) !important;
}

.color-info {
    color: var(--info) !important;
}

.color-orange {
    color: var(--orange) !important;
}

.color-l-blue {
    color: var(--indigo) !important;
}

.color-purple {
    color: var(--purple) !important;
}

.color-light {
    color: var(--light) !important;
}

.color-dark {
    color: var(--dark) !important;
}

.color-black {
    color: var(--black) !important;
}

.color-gray {
    color: var(--gray) !important;
}

.color-main {
    color: var(--mainColor) !important;
}

.color-mainLight {
    color: var(--mainColorLight) !important;
}

.color-mainDark {
    color: var(--mainColorDark) !important;
}

/* padding css 0px to 100px  */

.p-0px {
    padding: 0% !important;
}

.p-10px {
    padding: 10px !important;
}

.p-20px {
    padding: 20px !important;
}

.p-30px {
    padding: 30px !important;
}

.p-40px {
    padding: 40px !important;
}

.p-50px {
    padding: 50px !important;
}

.p-60px {
    padding: 60px !important;
}

.p-70px {
    padding: 70px !important;
}

.p-80px {
    padding: 80px !important;
}

.p-80px {
    padding: 90px !important;
}

.p-100px {
    padding: 100px !important;
}

.pt-0px {
    padding-top: 0% !important;
}

.pt-10px {
    padding-top: 10px !important;
}

.pt-20px {
    padding-top: 20px !important;
}

.pt-30px {
    padding-top: 30px !important;
}

.pt-40px {
    padding-top: 40px !important;
}

.pt-50px {
    padding-top: 50px !important;
}

.pt-60px {
    padding-top: 60px !important;
}

.pt-70px {
    padding-top: 70px !important;
}

.pt-80px {
    padding-top: 80px !important;
}

.pt-80px {
    padding-top: 90px !important;
}

.pt-100px {
    padding-top: 100px !important;
}

.pl-0px {
    padding-left: 0% !important;
}

.pl-10px {
    padding-left: 10px !important;
}

.pl-20px {
    padding-left: 20px !important;
}

.pl-30px {
    padding-left: 30px !important;
}

.pl-40px {
    padding-left: 40px !important;
}

.pl-50px {
    padding-left: 50px !important;
}

.pl-60px {
    padding-left: 60px !important;
}

.pl-70px {
    padding-left: 70px !important;
}

.pl-80px {
    padding-left: 80px !important;
}

.pl-80px {
    padding-left: 90px !important;
}

.pl-100px {
    padding-left: 100px !important;
}

.pb-0px {
    padding-bottom: 0% !important;
}

.pb-10px {
    padding-bottom: 10px !important;
}

.pb-20px {
    padding-bottom: 20px !important;
}

.pb-30px {
    padding-bottom: 30px !important;
}

.pb-40px {
    padding-bottom: 40px !important;
}

.pb-50px {
    padding-bottom: 50px !important;
}

.pb-60px {
    padding-bottom: 60px !important;
}

.pb-70px {
    padding-bottom: 70px !important;
}

.pb-80px {
    padding-bottom: 80px !important;
}

.pb-80px {
    padding-bottom: 90px !important;
}

.pb-100px {
    padding-bottom: 100px !important;
}

.pr-0px {
    padding-right: 0% !important;
}

.pr-10px {
    padding-right: 10px !important;
}

.pr-20px {
    padding-right: 20px !important;
}

.pr-30px {
    padding-right: 30px !important;
}

.pr-40px {
    padding-right: 40px !important;
}

.pr-50px {
    padding-right: 50px !important;
}

.pr-60px {
    padding-right: 60px !important;
}

.pr-70px {
    padding-right: 70px !important;
}

.pr-80px {
    padding-right: 80px !important;
}

.pr-80px {
    padding-right: 90px !important;
}

.pr-100px {
    padding-right: 100px !important;
}

/* margin css 0px to 100px  */

.m-0px {
    margin: 0% !important;
}

.m-10px {
    margin: 10px !important;
}

.m-20px {
    margin: 20px !important;
}

.m-30px {
    margin: 30px !important;
}

.m-40px {
    margin: 40px !important;
}

.m-50px {
    margin: 50px !important;
}

.m-60px {
    margin: 60px !important;
}

.m-70px {
    margin: 70px !important;
}

.m-80px {
    margin: 80px !important;
}

.m-80px {
    margin: 90px !important;
}

.m-100px {
    margin: 100px !important;
}

.mt-0px {
    margin-top: 0% !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

.mt-40px {
    margin-top: 40px !important;
}

.mt-50px {
    margin-top: 50px !important;
}

.mt-60px {
    margin-top: 60px !important;
}

.mt-70px {
    margin-top: 70px !important;
}

.mt-80px {
    margin-top: 80px !important;
}

.mt-80px {
    margin-top: 90px !important;
}

.mt-100px {
    margin-top: 100px !important;
}

.ml-0px {
    margin-left: 0% !important;
}

.ml-10px {
    margin-left: 10px !important;
}

.ml-20px {
    margin-left: 20px !important;
}

.ml-30px {
    margin-left: 30px !important;
}

.ml-40px {
    margin-left: 40px !important;
}

.ml-50px {
    margin-left: 50px !important;
}

.ml-60px {
    margin-left: 60px !important;
}

.ml-70px {
    margin-left: 70px !important;
}

.ml-80px {
    margin-left: 80px !important;
}

.ml-80px {
    margin-left: 90px !important;
}

.ml-100px {
    margin-left: 100px !important;
}

.mb-0px {
    margin-bottom: 0% !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}

.mb-20px {
    margin-bottom: 20px !important;
}

.mb-30px {
    margin-bottom: 30px !important;
}

.mb-40px {
    margin-bottom: 40px !important;
}

.mb-50px {
    margin-bottom: 50px !important;
}

.mb-60px {
    margin-bottom: 60px !important;
}

.mb-70px {
    margin-bottom: 70px !important;
}

.mb-80px {
    margin-bottom: 80px !important;
}

.mb-80px {
    margin-bottom: 90px !important;
}

.mb-100px {
    margin-bottom: 100px !important;
}

.mr-0px {
    margin-right: 0% !important;
}

.mr-10px {
    margin-right: 10px !important;
}

.mr-20px {
    margin-right: 20px !important;
}

.mr-30px {
    margin-right: 30px !important;
}

.mr-40px {
    margin-right: 40px !important;
}

.mr-50px {
    margin-right: 50px !important;
}

.mr-60px {
    margin-right: 60px !important;
}

.mr-70px {
    margin-right: 70px !important;
}

.mr-80px {
    margin-right: 80px !important;
}

.mr-80px {
    margin-right: 90px !important;
}

.mr-100px {
    margin-right: 100px !important;
}

/* display css */

.d-i {
    display: inline !important;
}

.d-b {
    display: block !important;
}

.d-ib {
    display: inline-block !important;
}

.d-t {
    display: table !important;
}

.d-f {
    display: flex !important;
}

.disp-around {
    justify-content: space-around !important;
}

.disp-between {
    justify-content: space-between !important;
}

.disp-evenly {
    justify-content: space-evenly !important;
}

/* font sizing css 9px to 70px */

.f-9 {
    font-size: 9px !important;
}

.f-10 {
    font-size: 10px !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-19 {
    font-size: 19px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-21 {
    font-size: 21px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-23 {
    font-size: 23px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-25 {
    font-size: 25px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-27 {
    font-size: 27px !important;
}

.f-28 {
    font-size: 28px !important;
}

.f-29 {
    font-size: 29px !important;
}

.f-30 {
    font-size: 30px !important;
}

.f-35 {
    font-size: 35px !important;
}

.f-40 {
    font-size: 40px !important;
}

.f-45 {
    font-size: 45px !important;
}

.f-50 {
    font-size: 50px !important;
}

.f-55 {
    font-size: 55px !important;
}

.f-60 {
    font-size: 60px !important;
}

.f-65 {
    font-size: 65px !important;
}

.f-70 {
    font-size: 70px !important;
}

/* border styling css */

.b-05 {
    border: .5px solid var(--gray);
}

.b-1 {
    border: 1px solid var(--gray);
}

.b-2 {
    border: 2px solid var(--gray);
}

.b-3 {
    border: 3px solid var(--gray)
}

.b-4 {
    border: 4px solid var(--gray)
}

.b-5 {
    border: 5px solid var(--gray)
}

.b-6 {
    border: 6px solid var(--gray);
}

.bt-05 {
    border: .5px solid var(--gray);
}

.bt-1 {
    border: 1px solid var(--gray);
}

.bt-2 {
    border: 2px solid var(--gray);
}

.bt-3 {
    border: 3px solid var(--gray)
}

.bt-4 {
    border: 4px solid var(--gray)
}

.bt-5 {
    border: 5px solid var(--gray)
}

.bt-6 {
    border: 6px solid var(--gray);
}

.br-05 {
    border: .5px solid var(--gray);
}

.br-1 {
    border: 1px solid var(--gray);
}

.br-2 {
    border: 2px solid var(--gray);
}

.br-3 {
    border: 3px solid var(--gray)
}

.br-4 {
    border: 4px solid var(--gray)
}

.br-5 {
    border: 5px solid var(--gray)
}

.br-6 {
    border: 6px solid var(--gray);
}

.bb-05 {
    border: .5px solid var(--gray);
}

.bb-1 {
    border: 1px solid var(--gray);
}

.bb-2 {
    border: 2px solid var(--gray);
}

.bb-3 {
    border: 3px solid var(--gray)
}

.bb-4 {
    border: 4px solid var(--gray)
}

.bb-5 {
    border: 5px solid var(--gray)
}

.bb-6 {
    border: 6px solid var(--gray);
}

.bl-05 {
    border: .5px solid var(--gray);
}

.bl-1 {
    border: 1px solid var(--gray);
}

.bl-2 {
    border: 2px solid var(--gray);
}

.bl-3 {
    border: 3px solid var(--gray)
}

.bl-4 {
    border: 4px solid var(--gray)
}

.bl-5 {
    border: 5px solid var(--gray)
}

.bl-6 {
    border: 6px solid var(--gray);
}

/* border color styling */

.b-white {
    border-color: var(--white) !important;
}

.b-pink {
    border-color: var(--pink) !important;
}

.b-red {
    border-color: var(--red) !important;
}

.b-danger {
    border-color: var(--danger) !important;
}

.b-warning {
    border-color: var(--warning) !important;
}

.b-green {
    border-color: var(--green) !important;
}

.b-l-green {
    border-color: var(--teal) !important;
}

.b-success {
    border-color: var(--success) !important;
}

.b-blue {
    border-color: var(--blue) !important;
}

.b-primary {
    border-color: var(--primary) !important;
}

.b-info {
    border-color: var(--info) !important;
}

.b-orange {
    border-color: var(--orange) !important;
}

.b-l-blue {
    border-color: var(--indigo) !important;
}

.b-purple {
    border-color: var(--purple) !important;
}

.b-light {
    border-color: var(--light) !important;
}

.b-dark {
    color: var(--dark) !important;
}

.b-black {
    color: var(--black) !important;
}

.b-gray {
    color: var(--gray) !important;
}

.b-main {
    color: var(--mainColor) !important;
}

.b-mainLight {
    color: var(--mainColorLight) !important;
}

.b-mainDark {
    color: var(--mainColorDark) !important;
}

/* position styling css */

.pos-absolute {
    position: absolute !important;
}

.pos-fixed {
    position: fixed !important;
}

.pos-relative {
    position: relative !important;
}

.pos-static {
    position: static !important;
}

.pos-sticky {
    position: sticky !important;
}

.pos-inherit {
    position: inherit !important;
}

.pos-initial {
    position: initial !important;
}

.pos-unset {
    position: unset !important;
}

/* pos controlling position */

.top-0 {
    top: 0px !important;
}

.top-5 {
    top: 5px !important;
}

.top-10 {
    top: 10px !important;
}

.top-15 {
    top: 15px !important;
}

.top-20 {
    top: 20px !important;
}

.top-25 {
    top: 25px !important;
}

.top-30 {
    top: 30px !important;
}

.top-35 {
    top: 35px !important;
}

.top-40 {
    top: 40px !important;
}

.top-45 {
    top: 45px !important;
}

.top-50 {
    top: 50px !important;
}

.right-0 {
    right: 0px !important;
}

.right-5 {
    right: 5px !important;
}

.right-10 {
    right: 10px !important;
}

.right-15 {
    right: 15px !important;
}

.right-20 {
    right: 20px !important;
}

.right-25 {
    right: 25px !important;
}

.right-30 {
    right: 30px !important;
}

.right-35 {
    right: 35px !important;
}

.right-40 {
    right: 40px !important;
}

.right-45 {
    right: 45px !important;
}

.right-50 {
    right: 50px !important;
}

.bottom-0 px {
    bottom: 0px !important;
}

.bottom-5 px {
    bottom: 5px !important;
}

.bottom-10px {
    bottom: 10px !important;
}

.bottom-15px {
    bottom: 15px !important;
}

.bottom-20px {
    bottom: 20px !important;
}

.bottom-25px {
    bottom: 25px !important;
}

.bottom-30px {
    bottom: 30px !important;
}

.bottom-35px {
    bottom: 35px !important;
}

.bottom-40px {
    bottom: 40px !important;
}

.bottom-45px {
    bottom: 45px !important;
}

.bottom-50px {
    bottom: 50px !important;
}

.left-0 {
    left: 0px !important;
}

.left-5 {
    left: 5px !important;
}

.left-10 {
    left: 10px !important;
}

.left-15 {
    left: 15px !important;
}

.left-20 {
    left: 20px !important;
}

.left-25 {
    left: 25px !important;
}

.left-30 {
    left: 30px !important;
}

.left-35 {
    left: 35px !important;
}

.left-40 {
    left: 40px !important;
}

.left-45 {
    left: 45px !important;
}

.left-50 {
    left: 50px !important;
}